# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.packages
.pub/
build/
# Symbolication
app.*.symbols
# Obfuscation
app.*.map.json
# Android Studio
*.iml
.idea/
.android/
FlutterDevSDK/
# Xcode
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
**/*sync/**
DerivedData/
# VS Code
.vscode/
# Misc
*.log